@font-face {
  font-family: 'Formular';
  src: local('Formular Regular'), local('Formular-Regular'), url('../../fonts/Formular/Formular-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Formular';
  src: local('Formular Bold'), local('Formular-Bold'), url('../../fonts/Formular/Formular-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}